@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  margin-top: auto;
}

.btn-primary {
  @apply btn btn-ghost text-white border-0 bg-gradient-to-r from-blue-300 to-purple-500 bg-opacity-5 w-full md:w-40 h-12 rounded-lg hover:from-purple-500 hover:to-blue-300 transition-colors duration-500;
}
.active {
  @apply font-bold tracking-wide text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-purple-600 transition-all duration-500 ease-linear;
}
.default {
  @apply font-bold tracking-wide text-gray-700 transition-colors duration-200 hover:text-cyan-600;
}
